

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    height: 70px;          /* KHÓA CHIỀU CAO LOGO */
    width: auto;
    display: block;
    margin-left: 40%
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}

.search input {
    padding: 6px 10px;
    border: 1px solid #000;
    outline: none;
}

.login{
    margin-right: 5%
}

.login a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    padding: 6px 14px;
}

.login a:hover {
    background-color: #000;
    color: #fff;
}

/* ===== HERO ===== */
.hero_banner img {
    width: 100%;
    display: block;
    border-bottom: 2px solid #000;
}

/* ===== Categories Section ===== */
.categories{
    padding: 60px 80px;
}

.categories h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

/* list 4 item ngang */
.category-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* từng item */
.category-item{
    text-align: center;
}

/* hình ảnh */
.category-item img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

/* info */
.category-item .info{
    margin-top: 15px;
}

.category-item h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}

.category-item .price{
    font-size: 14px;
    color: #555;
}








/* ===== FOOTER ===== */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-logo h2 {
    font-size: 22px;
    color: #fff;
}

.footer-cols {
    display: flex;
    gap: 40px;
}

.col h4 {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.col a {
    display: block;
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
    margin-bottom: 6px;
}

.col a:hover {
    color: #fff;
    text-decoration: underline;
}

.social a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

























/* ===== FOOTER BOTTOM ===== */
.footer-bottom {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #ccc;
}

.footer-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #ccc;
}

.footer-links a:hover {
    color: #fff;
    text-decoration: underline;
}
